/* Control */
.control {
  position: relative;
}
.control label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.control input, .control textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.control input:focus ~ label, .control textarea:focus ~ label, .control input:valid ~ label, .control textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.control textarea {
  max-width: 100%;
  max-height: 200px;
  border-top: 10px solid transparent;
  padding-top: 0;
}
